body{
    background-color: rgb(221, 218, 218);
}

.mainBox{
    display: flex;
}

.mainBox-item{
    flex: 1;
    border-right: 1px solid #000;
    padding: 2rem;
}

.mainBox-item:last-child{
    border-right: 0;
}